In [7]:
import pandas as pd
import numpy as np

import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

### 1. Create a spark data frame that contains your favorite programming languages.

In [8]:
df = pd.DataFrame(data=['python', 'HTML', 'Java', 'Solidity', 'R'], columns=['language'])

* The name of the column should be language

In [9]:
spark_df = spark.createDataFrame(df)
spark_df

DataFrame[language: string]

* View the schema of the dataframe

In [11]:
spark_df.printSchema()

root
 |-- language: string (nullable = true)

* Output the shape of the dataframe

In [21]:
print((spark_df.count(), len(spark_df.columns)))

(5, 1)

* Show the first 5 records in the dataframe

In [23]:
spark_df.show(5)

+--------+
|language|
+--------+
|  python|
|    HTML|
|    Java|
|Solidity|
|       R|
+--------+

### 2. Load the mpg dataset as a spark dataframe.

In [24]:
from pydataset import data

mpg = spark.createDataFrame(data("mpg"))

* Create 1 column of output that contains a message like the one below: The 1999 audi a4 has a 4 cylinder engine.  For each vehicle

In [42]:
from pyspark.sql.functions import lit
mpg.show(1)

+------------+-----+-----+----+---+--------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|   trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+--------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|auto(l5)|  f| 18| 29|  p|compact|
+------------+-----+-----+----+---+--------+---+---+---+---+-------+
only showing top 1 row

In [53]:
mpg.select(concat(lit('The '), mpg.year,lit(' '), mpg.manufacturer, lit(' '), mpg.model, lit(' has a '), mpg.cyl, lit('cylinder engine.'))).show(2)

+-----------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl, cylinder engine.)|
+-----------------------------------------------------------------------------+
|                                                         The 1999 audi a4 ...|
|                                                         The 1999 audi a4 ...|
+-----------------------------------------------------------------------------+
only showing top 2 rows

* Transform the trans column so that it only contains either manual or auto.

In [34]:
from pyspark.sql.functions import when

In [64]:
mpg.select(mpg.trans, when(mpg.trans == ('manual (m5)' | 'manual (m6))', "manual").otherwise("auto")))

TypeError: unsupported operand type(s) for |: 'str' and 'str'